html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	padding-top: 75px;
	background: #2f2840 url("../images/bg_body.gif");
	color: #45494d;
	font: normal 300 20px/28px Helvetica, Arial, sans-serif;
}

header, main, footer {
	margin: 0 auto;
}

h1 {
	padding: 0 0 105px 0;
	text-align: center;
}
header h1 a {
	display: inline-block;
	width: 298px;
	height: 243px;
	text-indent: -9999px;
	background: transparent url("../images/logo.png") 0 0 no-repeat;
}
h2 {
	font-size: 36px;
	margin: 24px 0 35px 0;
}
h3{
	font-size: 24px;
	color: #3C60AF;
	margin: 25px 0;
}
article > p {
	padding: 0 70px;
}

.column {
	max-width: 1000px;
	margin: 0 auto;
}
main {
	background: white;
}

article {
	padding: 75px 30px 50px 30px;
	text-align: center;
}
a {
	text-decoration: none;
	color: inherit;
}

/* PROJECTS */
div.projects img {
	width: 100%;
}

/* TEAM */
.team li {
	display: inline-block;
	list-style: none;
	color: #3C60AF;
	font-size: 24px;
}
.team > article > p {
	margin-bottom: 110px;
}
.team li > img {
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin: 0 30px 20px 30px;
}
}
div.team {
	padding-bottom: 200px;
}

/* HEADER NAV */
header {
	padding-bottom: 62px;
}
header li {
	color: #C9CAC9;
	display: inline;
	padding: 0 32px;
}
header ul {
	text-align: center;
	font-size: 24px;
}
a.selected {
	color: #77BBFB;
	font-weight: bold;
}

/* FOOTER */
footer {
	background-color: #E6E7E6;
	color: #B4B2B2;
	padding: 70px 10px;
}
footer ul {
	text-align: center;
	padding: 10px 0 77px 0;
}
footer li {
	display: inline;
	padding: 0 62px;
}
footer > p {
	text-align: center;
	padding: 0 20px 30px 20px;
}
footer a {
	display: inline-block;
	background: transparent url('../images/icons_social-media.png') 0 0 no-repeat;
	width: 46px;
	height: 46px;
}
.face {
	background-position-y: -46px; 
}
.mail {
	background-position-y: -92px;
}
.inst {
	background-position-y: -138px;
}

/* MODAL */
.modal {
	display: none;
  position: absolute;
  left: 50%;
  max-width: 800px;
  margin-left: -400px;
  background: white;

  top: 200px;
  z-index: 1;
  padding-bottom: 80px;
}
#tint {
	display: none;
	position: fixed;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .2);
}
.modalcontent {
	padding: 80px;	
}
.modalcontent > p {
	text-align: justify;
}
.float {
	padding: 20px 0;
}
.float > * {
	float: left;
}
.float > a {
	padding: 65px 30px;
	color: #3C60AF;
	font-size: 24px;
}
.float::after {
  content: "";
  clear: both;
  display: table;
}
.close > a {
	float: right;
	padding: 17px;
}
.close {
	padding: 0;
}

/* MEDIA QUERYS */

@media(max-width: 875px) {
	.team li {
		width: 48%;
		padding: 0 0 30px 0;
}

@media(max-width: 768px) {
	body {
		padding-top: 65px;
	}
	header h1 a {
		width: 223px;
		height: 182px;
		background-size: cover;
	}
	header h1 {
		padding-bottom: 40px;
	}
	header {
		padding-bottom: 25px;
	}
	article {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	article > p {
		text-align: justify;
		padding: 0 15px;
	}
	footer li {
		padding: 0 26px;
	}
	footer {
		padding-top: 25px;
	}
	.modal {
		left: 0;
		margin: 0;
		max-width: 100%;
		padding-bottom: 20px;
	}
	.modalcontent {
		padding: 20px;
	}

}
@media(max-width: 480px) {
	header h1 {
		float: left;
		margin-top: 32px;
		font-size: 20px;
	}
	header nav ul{
		text-align: right;

	}
	nav li {
		display: block;
		font-size: 16px;
		padding: 5px;
	}
	body {
		padding-top: 0;
		font-size: 16px;
	}
	header {
		padding: 20px 15px;
	}
	header h1 a {
		width: auto;
		height: 40px;
		padding: 10px 0 0 55px;
		text-indent: 0px;
		color: white;
		background-size: 90px;
		background-position: -20px 0;
	}
	footer li {
		padding: 0 10px;
	}
}